<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置bean -->
	<bean id="helloWorld" class="com.lw.emailsender.HelloWorld">
		<property name="name" value="String"></property>
	</bean>
	
	
	<bean id="sendMailService" class="com.lw.emailsender.service.SendMailServiceImpl">
	</bean>

	<!-- 左右面板 -->
	<bean id="leftPanel" class="com.lw.emailsender.view.LeftPanel">
	</bean>
	<bean id="rightPanel" class="com.lw.emailsender.view.RightPanel">
	</bean>

	<bean id="sysListener" class="com.lw.emailsender.listener.SysListener">
		<constructor-arg ref="leftPanel" />
		<constructor-arg ref="rightPanel" />
		<constructor-arg ref="sendMailService" />
	</bean>
	<bean id="mainFrame" class="com.lw.emailsender.view.MainFrame">
		<constructor-arg ref="leftPanel" />
		<constructor-arg ref="rightPanel" />
		<constructor-arg ref="sysListener" />
	</bean>


	<!-- <context:component-scan base-package="com.lw.emailsende" /> -->
</beans>